.main {
}

.header {
  text-align: center;
  width: 60%;
  margin: 1.25rem auto;
}
.heading {
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem;
  background-color: rgb(37 99 235);
  border-radius: 0.25rem;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;

  font-size: 1.25rem;
  line-height: 1.75rem;
}
