// you can use `@/base-styles` to access variables and mixins
@use '@/base-styles' as styles;

// The .header class styles could all be achieved with just Bulma classes
// `box has-background-primary has-text-white p-2 mb-4` but we wanted to
// demonstraate how you can drop into (S)CSS-Modules to add styles when needed
.header {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  background-color: styles.$primary;
  color: white;
  border-radius: 6px;
  display: block;
}
