version: '3.8'

services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      - MYSQL_PASSWORD=${DB_PASSWORD:-demopass}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD:-demopass}
      - MYSQL_DATABASE=${DB_DATABASE:-demodb}
    ports:
      - '${DB_PORT:-3306}:3306'
    volumes:
      - db:/var/lib/mysql

  redis:
    image: redis:7.0-alpine
    restart: unless-stopped
    command:
      - --loglevel warning
      - --requirepass ${REDIS_PASSWORD:-redi$$pass}
    ports:
      - '${REDIS_PORT:-6379}:6379'

  rabbitmq:
    image: rabbitmq:3.8-management-alpine
    restart: unless-stopped
    ports:
      - '${RABBIT_MQ_PORT_CLIENT:-5672}:5672'
      - '${RABBIT_MQ_PORT_ADMIN:-15672}:15672'
    volumes:
      - queue:/var/lib/rabbitmq/

volumes:
  db:
  queue:
