:host {
  display: block;
}
.loader {
  &:before {
    content: '\00a0 ';
  }
  border-radius: 0.375rem;
  border-width: 2px;
  font-size: 1.2rem;
  margin: 1em 0;

  background-color: #d1d5db;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
