{
	"parser": "@typescript-eslint/parser",
	"extends": ["@open-wc", "prettier"],
	"plugins": ["@typescript-eslint"],
	"rules": {
		"no-console": ["error", { "allow": ["info", "warn", "error"] }],
		"no-unused-vars": "off",
		"wc/guard-super-call": "off",
		"@typescript-eslint/no-unused-vars": ["error"],
		"import/no-unresolved": "off",
		"import/extensions": [
			"error",
			"always",
			{
				"ignorePackages": true
			}
		],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.spec.ts",
					"playwright.config.ts",
					"web-dev-server.config.js",
					"web-test-runner.config.js",
					".storybook/**/*.{js,mjs,cjs}",
					"rollup.config.js"
				]
			}
		]
	}
}
