<div class="text-center">
    <div class="mx-10 mt-10 border-b-4 border-blue-700">
        <h1 class="text-3xl py-6">Apollo Fetch Data From API</h1>
    </div>
    <div class="flex flex-col items-center mt-4 gap-2">
        <div class="flex w-[30em] max-w-full">
            <div class="mr-[1em]">Message:</div>
            <div
                class="grow text-left"
                [ngClass]="{
                    'animate-pulse bg-gray-200 rounded-md':
                        greetingMessageLoading
                }"
            >
                {{ greetingMessage$ | async }}
            </div>
        </div>
        <a href="/" class="anchor">Return Home</a>
    </div>
</div>
