<div class="w-2/5 my-5 mx-auto text-center">
  <h1 class="text-[2rem] font-bold border-b-4 border-blue-600 py-4 my-5">
    Apollo Fetch Data From API
  </h1>
  <div class="flex w-full text-xl justify-center">
    <div class="mr-[1em]">Message:</div>
    <div
      class="text-left"
      [ngClass]="{
        'grow animate-pulse bg-gray-200 rounded-md': greetingMessageLoading,
        'grow-0': !greetingMessageLoading
      }"
    >
      {{ greetingMessage$ | async }}
    </div>
  </div>
  <div class="my-2.5">
    <a href="/" class="underline text-blue-600 hover:text-blue-800 text-xl">
      Return Home
    </a>
  </div>
</div>
