@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Base */
  .link {
    @apply text-brand-500 hover:text-brand-600;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }

  /* Background colors */
  .bg {
    @apply bg-white;
  }
  .dark-bg {
    @apply bg-gray-900;
  }

  .show {
    display: none !important;
  }

  /* Text colors */
  .t {
    @apply text-gray-700;
  }
  .t-light {
    @apply text-gray-600;
  }
  .t-dark {
    @apply text-gray-900;
  }
  .dark-t {
    @apply text-gray-400;
  }
  .dark-t-light {
    @apply text-white;
  }
  .dark-t-dark {
    @apply text-gray-600;
  }

  /* Headings */
  .heading-1 {
    @apply text-[32px] md:text-[64px] leading-[1.12] font-semibold;
  }
  .heading-2 {
    @apply text-[28px] md:text-[52px] leading-[1.2] md:leading-[1.23] font-semibold;
  }
  .heading-3 {
    @apply text-[24px] md:text-[44px] leading-[1.28] font-semibold;
  }
  .heading-4 {
    @apply text-[22px] md:text-[36px] leading-[1.33] font-semibold;
  }
  .heading-5 {
    @apply text-[20px] md:text-[28px] leading-[1.32] md:leading-[1.425] font-semibold;
  }
  .heading-6 {
    @apply text-[18px] md:text-[22px] leading-[1.4] md:leading-[1.453] font-semibold;
  }

  /* Buttons */
  .btn {
    @apply text-brand-500 text-[15px] leading-[16px] inline-flex items-center px-4 py-2 border border-transparent font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors disabled:text-gray-500;
  }
  .btn-lg {
    @apply px-5 py-2.5;
  }
  .btn-sm {
    @apply px-3 py-1;
  }
  .btn-primary {
    @apply bg-brand-500 text-white hover:bg-brand-600 active:bg-brand-600 disabled:bg-gray-100;
  }
  .btn-secondary {
    @apply border-brand-500 bg-brand-100 text-brand-500 hover:bg-brand-200 active:bg-brand-500 disabled:bg-gray-100;
  }
  .btn-tertiary {
    @apply border-brand-500 bg-white hover:bg-brand-100 active:bg-brand-500 disabled:border-gray-100;
  }

  /* Links */
  .dark-link {
    @apply text-[#95DFFF];
  }

  /* OVERRIDES */
  .kit-page .prose :where(code):not(:where([class~='not-prose'] *)):after,
  .kit-page .prose :where(code):not(:where([class~='not-prose'] *)):before {
    content: '';
  }
}
