// you can use `@/base-styles` to access variables and mixins
@use '@/base-styles' as styles;

.heading {
  border-bottom: 4px styles.$primary solid;
}

.loader {
  @include styles.loader;
  animation: spin 0.6s infinite linear;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
